html,
body{
	width: 100%;
	height: auto;
}
main{
	width: 100%;
	height: auto;
	background-color: #1E2F54;
	color: #FBEBDF;
}
main > div{
	width: 100%;
	height: 100vh;
}
main h1{
	text-align: center;
	height: 20%;
}
/*.menu_box{
	position: fixed;
	width: 10.4%;
	height: 13.9%;
	top: 0;
	right: 6%;
	width: 46%;
	height: 91%;
	top: 9%;
	right: 6%;
	z-index: 1;
}
.menu_box:hover{
	width: 46%;
	height: 100%;
}*/
.menu_btn{
	position: fixed;
	width: 10.4%;
	height: 14%;
	top: 4%;
	right: 2%;
	/*position: absolute;
	width: 100%;
	height: 100%;
	top: -8%;
	right: -8%;*/
	/*width: 22.6%;
	height: 15.3%;
	top: -8%;
	right: -8%;*/
	background: transparent;
	z-index: 1;
}
.menu_btn:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../images/menu_btn.svg) center/contain no-repeat;
}
.menu_btn:hover:before{
	transform: rotate(15deg);
	transition: .2s transform;
}
.menu_btn ul{
	position: absolute;
	top: 35%;
	right: 40%;
	width: 175%;
	height:	0;
	/*background: url(../images/menu_bg.svg) right bottom/contain no-repeat;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-content: flex-end;
	padding-right: 34.5%;
	padding-bottom: 35%;
}
.menu_btn:hover ul{
	height: 51.3vw;
}
.menu_btn ul:before{
	pointer-events: none;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 46vw;
	height: 0;
	background: url(../images/menu_bg.svg) right bottom/contain no-repeat;
	z-index: -1;
}
.menu_btn:hover ul:before{
	height: 51.3vw;
	transition: .2s height;
}
.menu_btn li{
	opacity: 0;
	color: #fff;
	width: 100%;
	height: 12%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 40px;
}
.menu_btn li:hover{
	transform: scale(1.2);
	transition: .2s transform;
}
.menu_btn:hover li{
	opacity: 1;
	transition: .5s .2s opacity;
}
.menu_btn li span{
	cursor: pointer;
}
.home{
	background: url(../images/home_bg.svg) center/cover no-repeat;
}
/*==========================*/
/*story*/
/*==========================*/
.story{
	font-size: 26px;
}
.story h1{
	width: 20%;
	height: 6%;
	background: url(../images/story_title.svg) center center no-repeat;
	background-size: contain;
	margin: 115px auto 90px auto;
}
.story_txt{
	display: flex;
	justify-content: center;
	align-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	height: 35%;
	padding: 0 5%;
	text-align: center;
}
.story_txt span{
	display: block;
	width: 100%;
}
.story_txt span:nth-child(2){
	padding: 30px 0 40px 0;
}
.story_txt .EN_txt{
	width: 100%;
}
.story_img {
	display: flex;
	height: 45%;
	justify-content: flex-end;
	align-items: flex-end;
}
.story_img .img_box{
	position: relative;
	width: 40%;
	height: 71%;
}
.img_box .cloud_bg{
	position: absolute;
	width: 100%;
	height: 100%;
}
.story_img img{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
/*==========================*/
/*characters*/
/*==========================*/
.characters {
	display: flex;
	justify-content: center;
	align-content: flex-start;
	flex-wrap: wrap;
}
.characters h1{
	width: 20%;
	height: 6%;
	background: url(../images/characters_title.svg) center center no-repeat;
	background-size: contain;
	margin: 0 auto 170px auto;
}
.characters .intro_box{
	width: 100%;
	height: 43%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin: 0 auto;
	padding: 0 20%;
}
.characters .intro_box div{
	width: 30%;
	height: 100%;
}
.characters .intro_box div i{
	display: block;
	width: 100%;
	height: calc(100% - 100px);
}
.characters .intro_box div span{
	display: block;
	width: 100%;
	height: 100px;
}
.intro_box .pupu_img{
	background: url(../images/pupu_intro.svg) center/contain no-repeat;
}
.intro_box .mango_img{
	background: url(../images/mango_intro.svg) center/contain no-repeat;
}
.intro_box .trobou_img{
	background: url(../images/trobou_intro.svg) center/contain no-repeat;
}
.intro_box .pupu_name{
	background: url(../images/pupu_name.svg) center/contain no-repeat;
}
.intro_box .mango_name{
	background: url(../images/mango_name.svg) center/contain no-repeat;
}
.intro_box .trobou_name{
	background: url(../images/trobou_name.svg) center/contain no-repeat;
}
/*==========================*/
/*product_example*/
/*==========================*/
.product_example{
	padding: 0 15%;
}
.product_example h1{
	width: 20%;
	height: 6%;
	background: url(../images/) center center no-repeat;
	background-size: contain;
	margin: 0 auto 170px auto;
}
.product_container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.product_example .example_box{
	width: 100%;
	margin: 0 30px;
	overflow: hidden;
}
.example_group{
	display: flex;
	transform: translate(-0%);
	transition-duration: .3s;
}
.product_container button{
	width: 41px;
	height: 36px;
}
.prev_btn{
	background: url(../images/prev_btn.svg) center center no-repeat;
	background-size: contain;
}
.next_btn{
	background: url(../images/next_btn.svg) center center no-repeat;
	background-size: contain;
}
.example_item{
	flex: 0 0 30%;
}
.example_item:first-child{margin-right: 2.5%;}
.example_item:last-child{margin-left: 2.5%;}
.example_item:not(:first-child):not(:last-child){margin: 0 2.5%;}
.example_item img{
	width: 100%;
}

/*==========================*/
/*graphics*/
/*==========================*/
.graphics{

}
.graphics h1{
	width: 20%;
	height: 6%;
	background: url(../images/graphics_title.svg) center center no-repeat;
	background-size: contain;
	margin: 0 auto 170px auto;
}
.graphics .graphic_container{
	width: 100%;
	height: 65%;
	padding: 0 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.graphic_container button{
	width: 4%;
	height: 6%;
}
.graphic_container .graphic_box{
	width: 85%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-around;
}
.graphic_box div{
	width: 26%;
	height: 40%;
}
.graphic_box .graphic1{
	background: url(../images/graphics1.svg) center center no-repeat;
	background-size: contain;
}
.graphic_box .graphic2{
	background: url(../images/graphics2.svg) center center no-repeat;
	background-size: contain;
}
.graphic_box .graphic3{
	background: url(../images/graphics3.svg) center center no-repeat;
	background-size: contain;
}
.graphic_box .graphic4{
	background: url(../images/graphics4.svg) center center no-repeat;
	background-size: contain;
}
.graphic_box .graphic5{
	background: url(../images/graphics5.svg) center center no-repeat;
	background-size: contain;
}
.graphic_box .graphic6{
	background: url(../images/graphics6.svg) center center no-repeat;
	background-size: contain;
}
/*==========================*/
/*exhibtion*/
/*==========================*/
.exhibition{
	padding: 0 15%;

}
.exhibition h1{
	width: 20%;
	height: 6%;
	background: url(../images/exhibition_title.svg) center center no-repeat;
	background-size: contain;
	margin: 0 auto 140px auto;
}
.exhibition .exhibition_container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.exhibition_container button{
	width: 41px;
	height: 36px;
}
.exhibition_container .exhibition_box{
	width: 100%;
	margin: 0 30px;
	overflow: hidden;
}
.exhibition_group {
	display: flex;
	transition-duration: .3s;
	/* transform: translateX(-00%); */
}
.exhibition_item {
	flex: 0 0 100%;
	padding: 30px 100px 40px;
	background: #315A8D;
}
.exhibition_box h2{
	text-align: center;
	font-size: 24px;
	margin-bottom: 30px;
	color: #fff;
}
.exhibition_box b{
	font-size: 16px;
}
.exhibition_pic {
	position: relative;
	padding-bottom: calc(100% * 0.511658);
}
.exhibition_box img{
	position: absolute;
	height: 100%;
	left: 0;
	right: 0;
	margin: auto;
}
/*==========================*/
/*footer*/
/*==========================*/
.info{
	background: url(../images/info_bg.svg) bottom center no-repeat;
	background-size: 100%;
}
.info h1{
	width: 20%;
	height: 6%;
	background: url(../images/info_title.svg) center center no-repeat;
	background-size: contain;
	margin: 0 auto 170px auto;
}
.info .info_container{
	width: 100%;
	height: 35%;
	padding: 0 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.info_container .icon_box{
	width: 100%;
	height: 22%;
	padding: 0 25%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.info_container a{
	display: block;
	width: 25%;
	height: 100%;
}
.info_container .icon_fb{
	background: url(../images/fb_icon.svg) center center no-repeat;
	background-size: contain;
}
.info_container .icon_tw{
	background: url(../images/tw_icon.svg) center center no-repeat;
	background-size: contain;
}
.info_container .icon_ig{
	background: url(../images/ig_icon.svg) center center no-repeat;
	background-size: contain;
}
.info_container .icon_be{
	background: url(../images/be_icon.svg) center center no-repeat;
	background-size: contain;
}
.info_container span,
.info_container b{
	display: block;
}