/*================================================*/
/*media*/
/*================================================*/
.page_btn, .download_tab li {
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

/*================================================*/
/*layout*/
/*================================================*/
/*================================================*/
/*module*/
/*================================================*/
.wrap {
  margin: auto;
  padding: 30px 6.25% 0 6.25%;
  height: 100%;
}

@media screen and (max-width: 1023px) {
  .wrap {
    padding: 30px 6.25% 60px 6.25%;
  }
}

.page {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media screen and (max-width: 767px) {
  .page {
    display: none;
  }
}

.page_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  margin-left: 40px;
  background-color: #315A87;
  font-size: 28px;
  border-radius: 50%;
}

.page_btn.on {
  background-color: #B1D6FF;
}

@media screen and (max-width: 767px) {
  .page .prev,
  .page .next {
    display: none;
  }
}

.page .prev::after {
  content: '';
  width: 12px;
  height: 100%;
  background: url("../../images/icon_prev.svg") no-repeat center/contain;
}

.page .next::after {
  content: '';
  width: 12px;
  height: 100%;
  background: url("../../images/icon_next.svg") no-repeat center/contain;
}

.page li + li {
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .page li + li {
    margin-top: 0;
  }
}

/*================================================*/
/*header*/
/*================================================*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 126px;
  height: 78px;
}

@media screen and (max-width: 1023px) {
  .logo {
    width: 72px;
    height: 44px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1023px) {
  .nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    background: #b1d6ff;
  }
}

.nav__btn {
  width: 135px;
  padding: 10px 0;
  font-size: 20px;
  color: #b1d6ff;
  border: 2px solid #b1d6ff;
  border-radius: 20px;
}

@media screen and (max-width: 1023px) {
  .nav__btn {
    color: #1e2f54;
    width: 25%;
    font-size: 16px;
  }
}

.nav__btn + .nav__btn {
  margin-left: 35px;
}

@media screen and (max-width: 1023px) {
  .nav__btn + .nav__btn {
    margin-left: 0;
  }
}

.nav.--ph {
  display: none;
}

@media screen and (max-width: 767px) {
  .nav.--ph {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: static;
    width: auto;
    height: auto;
    background: transparent;
  }
  .nav.--ph .nav__btn {
    color: #b1d6ff;
    width: 100px;
    height: 30px;
    padding: 6px 0;
  }
}

/*================================================*/
/*main*/
/*================================================*/
.main_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100% - 138px);
}

@media screen and (max-width: 1023px) {
  .main_container {
    height: calc(100% - 104px);
  }
}

@media screen and (max-width: 767px) {
  .main_container {
    height: calc(100% - 134px);
  }
}

.link {
  margin-right: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 767px) {
  .link {
    display: none;
  }
}

.link__item {
  margin-top: 13px;
  width: 40px;
  height: 40px;
}

.main {
  width: calc(100% - 95px);
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
}

.main .intro_box {
  position: relative;
}

.main .mango {
  position: relative;
  width: 29vw;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media screen and (max-width: 575px) {
  .main .mango {
    width: 66.7vw;
  }
}

.main .mango__detail {
  position: absolute;
  top: 0;
  right: 0;
  width: 5.5vw;
  height: 4vw;
}

.main .chabao {
  position: absolute;
  bottom: -5%;
  left: 0;
  width: 8.5vw;
  margin-bottom: 20px;
}

@media screen and (max-width: 575px) {
  .main .chabao {
    width: 19.5vw;
    bottom: -4%;
    left: 12%;
  }
}

.main .chabao__detail {
  position: absolute;
  top: 0;
  right: 100%;
  width: 5.5vw;
  height: 4vw;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.main .hanji {
  position: absolute;
  bottom: -10%;
  right: -35%;
  width: 9.5vw;
}

@media screen and (max-width: 575px) {
  .main .hanji {
    width: 21.9vw;
    bottom: -22%;
    right: 3%;
  }
}

.main .hanji__detail {
  position: absolute;
  top: 0;
  left: calc(100% - 15px);
  width: 5.5vw;
  height: 4vw;
}

.main .slogan_img {
  position: absolute;
  top: 0;
  bottom: 15%;
  left: 0;
  right: 0;
  margin: auto;
  width: 83.3%;
}

@media screen and (max-width: 1023px) {
  .main .slogan_img {
    bottom: 0%;
  }
}

/*================================================*/
/*footer*/
/*================================================*/
.footer {
  position: relative;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .footer {
    display: none;
  }
}

.footer span {
  font-size: 12px;
  color: #315a87;
}

.author_name {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 12px;
  margin: auto;
}

.download {
  width: 100%;
  height: 100%;
}

.download_tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 35px;
  color: #fff;
  font-size: 18px;
}

.download_tab li {
  position: relative;
}

.download_tab li.on:after {
  width: 35px;
  opacity: 1;
}

.download_tab li::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  margin: 10px auto 0;
  background-color: #fff;
  border-radius: 50px;
  opacity: 0;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.download_tab li + li {
  margin-left: 50px;
}

.download_box {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: calc(100% - 35px);
}

@media screen and (max-width: 767px) {
  .download_box {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    padding-top: 15%;
  }
}

.download_item {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: calc(100% / 5);
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .download_item {
    width: auto;
    min-width: 175px;
  }
}

@media screen and (max-width: 575px) {
  .download_item {
    min-width: 155px;
  }
}

.download_item_pic {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 155px;
  height: 155px;
  border-radius: 3px;
}

@media screen and (max-width: 575px) {
  .download_item_pic {
    max-width: 142px;
    height: 142px;
  }
}

.download_item_pic::after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 35px;
  color: #fff;
  background: rgba(30, 47, 84, 0.9);
  content: attr(data-text);
}

.download_item_pic img {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
}
/*# sourceMappingURL=all.css.map */