/*================================================*/
/*module*/
/*================================================*/
.wrap{
    margin: auto;
    padding: 30px 6.25% 0 6.25%;
    height: 100%;
    @include mw_xl{
        padding: 30px 6.25% 60px 6.25%;
    }
    @include mw_md{

    }
}