/*================================================*/
/*header*/
/*================================================*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.logo{
    width: 126px;
    height: 78px;
    @include mw_xl{
        width: 72px;
        height: 44px;
    }
}
.nav{
    display: flex;
    align-items: center;
    @include mw_xl{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 60px;
        background: #b1d6ff;
    }
    &__btn{
        width: 135px;
        padding: 10px 0;
        font-size: 20px;
        color: #b1d6ff;
        border: 2px solid #b1d6ff;
        border-radius: 20px;
        @include mw_xl{
            color: #1e2f54;
            width: 25%;
            font-size: 16px;
        }
        & + .nav__btn{
            margin-left: 35px;
            @include mw_xl{
                margin-left: 0;
            }
        }
    }
    &.--ph{
        display: none;
        @include mw_md{
            display: flex;
            justify-content: space-between;
            position: static;
            width: auto;
            height: auto;
            background: transparent;
            .nav__btn{
                color: #b1d6ff;
                width: 100px;
                height: 30px;
                padding: 6px 0;
            }
        }
    }
}
/*================================================*/
/*main*/
/*================================================*/
.main_container{
    display: flex;
    height: calc(100% - 138px);
    @include mw_xl{
        height: calc(100% - 104px);
    }
    @include mw_md{
        height: calc(100% - 134px);
    }
}
.link{
    margin-right: 55px;
    display: flex;
    align-items: flex-end;
    @include mw_md{
        display: none;
    }
    &__list{

    }
    &__item{
        margin-top: 13px;
        width: 40px;
        height: 40px;
    }
}
.main{
    width: calc(100% - 95px);
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    @include mw_md{
        flex-wrap: wrap;
        width: 100%;
    }
    .intro_box{
        position: relative;
    }
    .mango{
        position: relative;
        // width: 36.4%;
        width: 29vw;
        align-self: flex-start;
        @include mw_sm{
            width: 66.7vw;
        }
        &__detail{
            position: absolute;
            top: 0;
            right: 0;
            width: 5.5vw;
            height: 4vw;
        }
    }
    .chabao{
        position: absolute;
        bottom: -5%;
        left: 0;
        // width: 10.7%;
        width: 8.5vw;
        margin-bottom: 20px;
        @include mw_sm{
            width: 19.5vw;
            bottom: -4%;
            left: 12%;
        }
        &__detail{
            position: absolute;
            top: 0;
            right: 100%;
            width: 5.5vw;
            height: 4vw;
            transform: rotateY(180deg);
        }
    }
    .hanji{
        position: absolute;
        bottom: -10%;
        right: -35%;
        // width: 12%;
        width: 9.5vw;
        @include mw_sm{
            width: 21.9vw;
            bottom: -22%;
            right: 3%;
        }
        &__detail{
            position: absolute;
            top: 0;
            left: calc(100% - 15px);
            width: 5.5vw;
            height: 4vw;
        }
    }
    .slogan_img{
        position: absolute;
        top: 0;
        bottom: 15%;
        left: 0;
        right: 0;
        margin: auto;
        width: 83.3%;
        @include mw_xl{
            bottom: 0%;
        }
    }
}
/*================================================*/
/*footer*/
/*================================================*/
.footer{
    position: relative;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mw_md{
        display: none;
    }
}
.footer span{
    font-size: 12px;
    color: #315a87;
}
.author_name{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 12px;
    margin: auto;
}