/*================================================*/
/*media*/
/*================================================*/
.normal_page_btn, .normol_tab li, .download_tab li {
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

/*================================================*/
/*layout*/
/*================================================*/
/*================================================*/
/*module*/
/*================================================*/
.wrap {
  margin: auto;
  padding: 30px 6.25% 0 6.25%;
  height: 100%;
}

@media screen and (max-width: 1023px) {
  .wrap {
    padding: 30px 6.25% 60px 6.25%;
  }
}

@media screen and (max-width: 767px) {
  .wrap {
    padding: 18px 5.3% 60px 5.3%;
  }
}

.normal_page {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media screen and (max-width: 767px) {
  .normal_page {
    display: none;
  }
}

.normal_page_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  margin-left: 40px;
  background-color: #315A87;
  font-size: 28px;
  border-radius: 50%;
}

.normal_page_btn.on {
  background-color: #B1D6FF;
}

@media screen and (max-width: 767px) {
  .normal_page .prev,
  .normal_page .next {
    display: none;
  }
}

.normal_page .prev::after {
  content: '';
  width: 12px;
  height: 100%;
  background: url("../../images/icon_prev.svg") no-repeat center/contain;
}

.normal_page .next::after {
  content: '';
  width: 12px;
  height: 100%;
  background: url("../../images/icon_next.svg") no-repeat center/contain;
}

.normal_page li + li {
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .normal_page li + li {
    margin-top: 0;
  }
}

.normol_tab {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 35px;
  color: #fff;
  font-size: 18px;
}

.normol_tab li {
  position: relative;
}

.normol_tab li.on:after {
  width: 35px;
  opacity: 1;
}

.normol_tab li::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  margin: 10px auto 0;
  background-color: #fff;
  border-radius: 50px;
  opacity: 0;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.normol_tab li + li {
  margin-left: 50px;
}

/*================================================*/
/*header*/
/*================================================*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.header .logo {
  width: 126px;
  height: 78px;
}

@media screen and (max-width: 1023px) {
  .header .logo {
    width: 72px;
    height: 44px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1023px) {
  .nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    background: #b1d6ff;
  }
}

.nav__btn {
  width: 135px;
  padding: 10px 0;
  font-size: 20px;
  color: #b1d6ff;
  border: 2px solid #b1d6ff;
  border-radius: 20px;
}

@media screen and (max-width: 1023px) {
  .nav__btn {
    color: #1e2f54;
    width: 25%;
    font-size: 16px;
  }
}

.nav__btn + .nav__btn {
  margin-left: 35px;
}

@media screen and (max-width: 1023px) {
  .nav__btn + .nav__btn {
    margin-left: 0;
  }
}

.nav.--ph {
  display: none;
}

@media screen and (max-width: 767px) {
  .nav.--ph {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: static;
    width: 100%;
    height: auto;
    background: transparent;
  }
  .nav.--ph .nav__btn {
    color: #b1d6ff;
    width: 100px;
    height: 30px;
    padding: 6px 0;
  }
}

/*================================================*/
/*link*/
/*================================================*/
.link {
  margin-right: 55px;
  position: absolute;
  left: 6.25%;
  bottom: 40px;
}

@media screen and (max-width: 1023px) {
  .link {
    bottom: 100px;
    margin-right: 0;
    width: 100%;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .link {
    padding: 10px 0;
    bottom: 60px;
  }
}

@media screen and (max-width: 1023px) {
  .link__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.link__item {
  margin-top: 13px;
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 1023px) {
  .link__item {
    margin-top: 0;
    margin-right: 13px;
  }
}

/*================================================*/
/*main*/
/*================================================*/
.main_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: calc(100% - 138px);
  padding-left: 95px;
  overflow-x: hidden;
  overflow-y: auto;
}

@media screen and (max-width: 1023px) {
  .main_container {
    height: calc(100% - 144px);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .main_container {
    height: calc(100% - 124px);
  }
}

.main {
  width: 100%;
  height: 100%;
  min-height: 700px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    height: calc(100% - 30px);
  }
}

.main .intro {
  position: relative;
}

.main .intro__item.--mango {
  position: relative;
  width: 29vw;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media screen and (max-width: 575px) {
  .main .intro__item.--mango {
    width: 66.7vw;
  }
}

.main .intro__item.--chabao {
  position: absolute;
  bottom: -5%;
  left: 0;
  width: 8.5vw;
  margin-bottom: 20px;
}

@media screen and (max-width: 575px) {
  .main .intro__item.--chabao {
    width: 19.5vw;
    bottom: -4%;
    left: 12%;
  }
}

.main .intro__item.--hanji {
  position: absolute;
  bottom: -10%;
  right: -35%;
  width: 9.5vw;
}

@media screen and (max-width: 575px) {
  .main .intro__item.--hanji {
    width: 21.9vw;
    bottom: -22%;
    right: 3%;
  }
}

.main .intro__detail {
  position: absolute;
  top: 0;
  width: 5.5vw;
  height: 4vw;
  cursor: pointer;
}

@media screen and (max-width: 575px) {
  .main .intro__detail {
    width: 12vw;
    height: 8vw;
  }
}

.main .intro__detail.--mango {
  right: 0;
}

.main .intro__detail.--chabao {
  right: 100%;
}

.main .intro__detail.--hanji {
  left: calc(100% - 15px);
}

.main .intro__txt {
  visibility: hidden;
  width: 215px;
  font-size: 14px;
  position: absolute;
  top: 0;
  color: #604c3f;
  border: 3px solid #604c3f;
  border-radius: 20px;
  background: #fbebdf;
  text-align: left;
  padding: 13px;
  -webkit-transition: opacity .3s, visibility .3s;
  transition: opacity .3s, visibility .3s;
  opacity: 0;
  z-index: 1;
}

@media screen and (max-width: 1023px) {
  .main .intro__txt {
    width: 145px;
  }
}

@media screen and (max-width: 575px) {
  .main .intro__txt {
    width: 315px;
    height: 240px;
    line-height: 20px;
    position: fixed;
    top: auto;
    bottom: 80px;
    margin: auto;
    padding: 35px 20px;
    border: 0;
    border-radius: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
  }
}

.main .intro__txt.--mango {
  left: 80%;
}

@media screen and (max-width: 575px) {
  .main .intro__txt.--mango {
    left: 0;
    right: 0;
  }
}

.main .intro__txt.--chabao {
  right: 100%;
}

@media screen and (max-width: 575px) {
  .main .intro__txt.--chabao {
    left: 0;
    right: 0;
  }
}

.main .intro__txt.--hanji {
  left: calc(100% - 15px);
}

@media screen and (max-width: 575px) {
  .main .intro__txt.--hanji {
    left: 0;
    right: 0;
  }
}

.main .intro__txt.--active {
  visibility: visible;
  opacity: 1;
}

.main .slogan_img {
  position: absolute;
  top: 0;
  bottom: 15%;
  left: 0;
  right: 0;
  margin: auto;
  width: 83.3%;
}

@media screen and (max-width: 1023px) {
  .main .slogan_img {
    bottom: 0%;
  }
}

/*================================================*/
/*footer*/
/*================================================*/
.footer {
  position: relative;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1023px) {
  .footer {
    margin-top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    display: none;
  }
}

.footer span {
  font-size: 12px;
  color: #315a87;
}

.footer .author_name {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 12px;
  margin: auto;
}

.download {
  width: 100%;
  height: 100%;
}

.download_tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 35px;
  color: #fff;
  font-size: 18px;
}

.download_tab li {
  position: relative;
}

.download_tab li.on:after {
  width: 35px;
  opacity: 1;
}

.download_tab li::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  margin: 10px auto 0;
  background-color: #fff;
  border-radius: 50px;
  opacity: 0;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.download_tab li + li {
  margin-left: 50px;
}

.download_box {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: calc(100% - 35px);
}

@media screen and (max-width: 767px) {
  .download_box {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    padding-top: 15%;
  }
}

.download_item {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: calc(100% / 5);
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .download_item {
    width: auto;
    min-width: 175px;
  }
}

@media screen and (max-width: 575px) {
  .download_item {
    min-width: 155px;
  }
}

.download_item_pic {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 155px;
  height: 155px;
  border-radius: 3px;
}

@media screen and (max-width: 575px) {
  .download_item_pic {
    max-width: 142px;
    height: 142px;
  }
}

.download_item_pic::after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 35px;
  color: #fff;
  background: rgba(30, 47, 84, 0.9);
  content: attr(data-text);
}

.download_item_pic img {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
}

.about {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.about::before {
  content: '';
  position: absolute;
  right: 0;
  display: block;
  width: 35%;
  height: 100%;
  background: url("../../images/about/about_Author_bg.jpg") no-repeat;
  background-size: cover;
}

@media screen and (max-width: 991px) {
  .about::before {
    width: 70%;
    height: 75%;
    bottom: 0;
    background-size: cover;
  }
}

.about_info {
  width: 316px;
  margin: 20px auto 0;
  color: #fff;
  text-align: left;
  line-height: 1.5;
}

.about .scroll_box {
  position: relative;
  height: calc(100% - 116px - 35px - 60px);
  margin-top: 60px;
}

@media screen and (max-width: 991px) {
  .about .scroll_box {
    overflow-x: auto;
    overflow-y: hidden;
  }
}

.about_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

@media screen and (max-width: 991px) {
  .about_box {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.about_item {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  height: 100%;
  padding: 0 15px;
}

.about_item img {
  width: auto;
  height: 100%;
}

.about_shadow {
  position: absolute;
  width: 100%;
  height: calc(100% - 116px - 35px - 60px);
  bottom: 0;
  pointer-events: none;
}

.about_shadow::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 200px;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#203055), to(rgba(32, 48, 85, 0)));
  background: linear-gradient(to right, #203055 0%, rgba(32, 48, 85, 0) 100%);
}

.about_shadow::after {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  width: 200px;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#203055), to(rgba(32, 48, 85, 0)));
  background: linear-gradient(to left, #203055 0%, rgba(32, 48, 85, 0) 100%);
}

@media screen and (max-width: 991px) {
  .about_shadow::before, .about_shadow::after {
    width: 100px;
  }
}

@media screen and (max-width: 575px) {
  .about_shadow::before, .about_shadow::after {
    width: 50px;
  }
}

.about_author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100% - 35px);
  color: #fff;
}

@media screen and (max-width: 991px) {
  .about_author {
    display: block;
  }
}

.about_author_txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
  line-height: 20px;
}

.about_author_txt p + p {
  margin-top: 5px;
}

.about_author_pic {
  position: relative;
  width: 60%;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

@media screen and (max-width: 991px) {
  .about_author_pic {
    width: 100%;
    height: 100%;
  }
}

.about_author_pic img {
  position: absolute;
  width: 110%;
  top: 0;
  bottom: -10%;
  right: 5%;
  margin: auto 0;
}

@media screen and (max-width: 991px) {
  .about_author_pic img {
    bottom: auto;
  }
}
/*# sourceMappingURL=all.css.map */